<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/new-dispositivo">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- TARJETAS -->
  <ion-grid>

    <ion-row>

      <ion-col size-xs=12 size-lg="3" *ngFor="let e of array">

        <ion-card button routerLink="/dispositivo/{{e.dispositivoId}}">
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="thermometer-outline"></ion-icon>{{ e.ubicacion }}
            </ion-card-title>
            <ion-card-subtitle>
              ID del dispositivo: {{ e.dispositivoId }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>
              {{ e.nombre }}
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar class="centrado">
    <ion-title style="text-align: center;">DAIoT - FIUBA - Martin Acosta</ion-title>
  </ion-toolbar>
</ion-footer>