<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="return-up-back-outline"></ion-back-button>
      <ion-button routerLink="/" routerDirection="back">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mediciones
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-row>
    <ion-col sizeXl="6" text-center>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Gráfico</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
            [colors]="chartColors" [legend]="showLegend" [chartType]="chartType">
          </canvas>
        </ion-card-content>
      </ion-card>



      <ion-card>

        <ion-card-header>
          <ion-card-title>Opciones</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label>Line chart?</ion-label>
            <ion-toggle (ionChange)="typeChanged($event)" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Mostrar Leyenda</ion-label>
            <ion-toggle [(ngModel)]="showLegend"></ion-toggle>
          </ion-item>
        </ion-card-content>

      </ion-card>

      <ion-card>

        <ion-card-content *ngIf="mediciones?.length > 0">

          <ion-card-header>
            <ion-card-title>Tabla de valores</ion-card-title>
          </ion-card-header>

          <ion-row>
            <ion-col col-4 text-center>
              <ion-item>
                Fecha
              </ion-item>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-item>
                Temperatura
              </ion-item>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-item>
                Humedad
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let medicion of mediciones">
            <ion-col col-4>
              <ion-item>
                {{medicion.fecha | formatoFecha}}
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item>
                {{medicion.temp}}
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item>
                {{medicion.hum}}
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-card-content>

        <ion-card-content *ngIf="mediciones?.length == 0">

          No hay mediciones registradas

        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>